redirect /version/3-0-0 /version/outdated.json
redirect /version/3-0-1 /version/outdated.json
redirect /version/3-1-0 /version/outdated.json
redirect /version/3-2-0 /version/outdated.json
redirect /version/3-2-1 /version/outdated.json
redirect /version/3-2-2 /version/outdated.json
redirect /version/3-2-3 /version/outdated.json
redirect /version/3-3-0 /version/outdated.json
redirect /version/3-3-1 /version/outdated.json
redirect /version/3-3-2 /version/latest.json
redirect /version/4-0-0-beta.1 /version/unstable.json
redirect /version/4-0-0-beta.2 /version/unstable.json
redirect /version/4-0-0-beta.3 /version/unstable.json
redirect /version/4-0-0-beta.4 /version/unstable.json
redirect /version/4-0-0-beta.5 /version/unstable.json